/*
Derpifixu (Dark version)

http://i.imgur.com/JNuD8Oh.png
Mixed in some elements from the old style and fixed the main things that bug me.

Update 1: Added more tag colours
Update 2: 
          Added a 10px spacing around the main header and fixed inconsistent sizing (specifically the search bar)
          Reduced the limit for 'mobile mode' to 500px
Update 3: Fixed being unable to read the labels on the tag editor groups.
*/

@-moz-document
  domain(derpibooru.org),
  domain(derpiboo.ru),
  domain(trixiebooru.org) {
    /*Header Master*/
    .block__header, a.block__header--single-link {
      background: #284371;
    }
    /*Header Minor*/
    .block__header--light, .block__header--js-tabbed {
      background: #183361;
    }
    /*Header text*/
    .block__header--light, .block__header--js-tabbed,
    .block__header, a.block__header--single-link,
    .block__header a, a.block__header--single-link {
      color: #ccc;
    }
    /*Header link*/
    .block__header a {
      background: #003;
    }
    /*Header link active*/
    .block__header a.selected:hover,
    .block__header a.selected {
      background: #385381;
      color: #ccc;
    }
    
    .block__header > span {
      font-weight: bold; /*consistency damnit*/
    }
    .block__header a {
      margin-left: 4px;
      padding: 4px;
      line-height: 13px;
      transition: background .1s linear, color .1s linear;
    }
    .page-current {
      padding: 4px; /*et tu, Brute?*/
    }
    .block__header a, a.block__header--single-link,
    .block__header--js-tabbed a:last-child {
      border: none !important; /*borderless borders wat*/
    }
    
    .media-box__header,
    .media-box__header a {
      line-height: 13px;
      font-size: 10px;
    }
    
    .header {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .header .flex-row {
      padding: 0 10px;
    }
    .header.header--secondary {
      padding: 0;
    }
    .header__search, .header__input--search,
    .header__input--search:active, .header__input--search:focus {
      height: 36px; /*consistency dammit*/
    }
    a.header__search__button, button.header__search__button {
      line-height: 36px; /*consistency dammit*/
    }
    span.quick-tag-table__tab-separator {
      background: none;
      border: none;
    }
    
    @media(min-width:500px) {
      .hide-mobile {
        display: initial !important;
      }
      .dropdown:not(:hover) .hide-mobile.dropdown__content {
        display: none !important;
      }
    }
    
    /*Tag generic*/
    span.tag {
      color: #ccc;
      background: #3d560a;
      border-color: #7eaf1c;
    }
    span.tag a {
      color: #82ad2b;
    }
    
    /*System tags*/
    span.tag.tag-system {
      background: #213e52;
      border-color: #2c70ad;
    }
    span.tag.tag-system a {
      color: #4c90bd;
    }

    /*Artist Tags*/
    span.tag.tag-ns-artist, span.tag.tag-ns-editor, span.tag[data-tag-slug="edit"], span.tag[data-tag-slug="anonymous+artist"] {
      background: #121644;
      border-color: #464b84;
    }
    span.tag.tag-ns-artist a, span.tag.tag-ns-editor a, span.tag[data-tag-slug="edit"] a, span.tag[data-tag-slug="anonymous+artist"] a {
      color: #464b84;
    }
    
    /*Spoiler Tags*/
    span.tag.tag-ns-spoiler {
      background:#f8d2c0;
      border-color:#e97136
    }
    span.tag.tag-ns-spoiler a {
      color:#e97136
    }
    
    /*Artist-needed tag*/
    span.tag[data-tag-slug="artist+needed"] {
      background:#6a0b19;
      border-color:#c02c3e
    }
    span.tag[data-tag-slug="artist+needed"] a {
      color:#c02c3e
    }

    /*I'm too lazy to find the other tag colours...*/
}