/* ==UserStyle==
@name           Make Badges Wrap Again
@namespace      sollace
@version        1.0.0
@description    Simple userstyle that returns the old memey greatness that were derpibooru badges.
@author         Sollace
==/UserStyle== */

@-moz-document regexp("https://(philomena.|www.)?((derpi|trixie|pony|twi|mane)booru|ponerpics).org.*") {
    .badges .dropdown,
    .badges .dropdown__content,
    .badges .badges {
      display: inline !important;
      position: initial;
      background: none !important;
      padding: 0 !important;
      margin: 0 !important;
      white-space: initial !important;
    }
    .badges .dropdown i {
      display: none;
    }
}