.fade-target {
  transition: background 3s linear;
  text-shadow: 0px 1px 3px #fff;
  font-weight: bold;
}
body.coloured {
  color: #fff;
  text-shadow: 0px 1px 3px #000;
}
.pinkie, .pinkie::before, .pinkie .splurge {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.pinkie::before, .pinkie .splurge {
  background: url(../images/pinkie.png) fixed no-repeat center center / auto 40%;
}
.pinkie::before {
  content: '';
  opacity: 0.3;
}
.pinkie .splurge {
  -webkit-animation: fillup 10s ease-in-out 0s forwards;
  -moz-animation: fillup 10s ease-in-out 0s forwards;
  -o-animation: fillup 10s ease-in-out 0s forwards;
  animation: fillup 10s ease-out 0s forwards;
  top: 70%;
  bottom: 30%;
}

@-webkit-keyframes fillup { from { top: 70%; } to { top: 35%; } }
@-moz-keyframes fillup { from { top: 70%; } to { top: 35%; } }
@-o-keyframes fillup { from { top: 70%; } to { top: 35%; } }
@keyframes fillup { from { top: 70%; } to { top: 35%; } }

.pinkie .text {
  display: block;
  width: 100%;
  position: fixed;
  top: 75%;
  opacity: 0.3;
}
.pinkie .text a {
  color: inherit;
  text-decoration: none;
}
.timer.skinned span {
  display: none;
  transition: all 0.4s ease, color 2s linear;
}
.timer.skinned, .pinkie {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.timer.skinned {
  position: absolute;
  left: 0px;
  right: 0px;
}
.timer.skinned span.count {
  position: relative;
  padding: 5px;
  margin: 5px;
  font-size: 3em;
  line-height: 1.5em;
  border: solid #fff 5px;
  border-radius: 100%;
  background: rgba(255,255,255,0.3);
  min-width: 2em;
  height: 2em;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  box-shadow: 0px 0px 0px 1px #ccc, 0px 0px 20px 0px rgba(0,0,0,0.3) inset;
  cursor: pointer;
  color: rgba(0,0,0,0.3);
}
.timer.skinned span.count:hover {
  box-shadow: 0px 0px 0px 1px #ccc, 0px 0px 10px 0px rgba(0,0,0,0.3) inset;
}
.timer.skinned span.count::after {
  display: inline-block;
  position: absolute;
  bottom: -0.5em;
  right: -5px;
  font-size: 20px;
  background: #fff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 15px;
}

.timer.skinned span.hours::after {content: 'h';}
.timer.skinned span.minutes::after {content: 'm';}
.timer.skinned span.seconds::after {content: 's';}