.testBody {
  background: url("../resources/pinkie.png") fixed no-repeat bottom right 30px / 70px auto #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.testBody span {
  display: none;
  transition: all 0.4s ease;
}
.testBody span.count {
  padding: 5px;
  margin: 5px;
  font-size: 50px;
  border: solid #fff 5px;
  border-radius: 100%;
  background: rgba(255,255,255,0.3);
  min-width: 60px;
  text-shadow: 0px 1px 10px #000;
  cursor: pointer;
}
.testBody span.count:hover {
  background: rgba(255,255,255,0.35);
  border-color: rgba(255,255,255,0.6);
}
span.hours {
  color: #f44;
}
span.minutes {
  color: #4f4;
}
span.seconds {
  color: #44f;
}