.testBody {
  background: #f1f1f1;
  transition: background 3s linear;
  color: #000;
  text-shadow: 0px 1px 3px #fff;
  font-weight: bold;
  text-align: center;
}
.testBody.coloured {
  color: #fff;
  text-shadow: 0px 1px 3px #000;
}
.pinkie, .pinkie::before, .pinkie .splurge {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.pinkie::before, .pinkie .splurge {
  background: url(../images/pinkie.png) fixed no-repeat center center / auto 40%;
}
.pinkie::before {
  content: '';
  opacity: 0.3;
}
.pinkie .splurge {
  -webkit-animation: fillup 150s linear 0s forwards;
  -moz-animation: fillup 150s linear 0s forwards;
  -o-animation: fillup 150s linear 0s forwards;
  animation: fillup 150s linear 0s forwards;
  top: 70%;
  bottom: 30%;
}

@-webkit-keyframes fillup { from { top: 70%; } to { top: 35%; } }
@-moz-keyframes fillup { from { top: 70%; } to { top: 35%; } }
@-o-keyframes fillup { from { top: 70%; } to { top: 35%; } }
@keyframes fillup { from { top: 70%; } to { top: 35%; } }

.pinkie .text {
  display: block;
  width: 100%;
  position: fixed;
  top: 75%;
  opacity: 0.3;
}
.timer span {
  display: none;
  transition: all 0.4s ease, color 2s linear;
}
.timer, .pinkie {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.timer {
  position: absolute;
  left: 0px;
  right: 0px;
}
span.count {
  position: relative;
  padding: 5px;
  margin: 5px;
  font-size: 50px;
  border: solid #fff 5px;
  border-radius: 100%;
  background: rgba(255,255,255,0.3);
  min-width: 60px;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  box-shadow: 0px 0px 0px 1px #ccc, 0px 0px 20px 0px rgba(0,0,0,0.3) inset;
  box-sizing: content-box;
  cursor: pointer;
  color: rgba(0,0,0,0.3);
}
span.count:hover {
  box-shadow: 0px 0px 0px 1px #ccc, 0px 0px 10px 0px rgba(0,0,0,0.3) inset;
}
span.count::after {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 20px;
}
/*span.hours {color: #f66;}
span.minutes {color: #3e3;}
span.seconds {color: #33e;}*/
span.hours::after {content: 'h';}
span.minutes::after {content: 'm';}
span.seconds::after {content: 's';}